{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 200,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["*.vue", "*.tsx", "*.ts", "*.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
